body
{
	background-color: #969C90; /*869C90CC*/
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
h1
{
	position: relative;
	left: 6%;
	font-weight: lighter;
	font-size: 45px;
	color: #fff;
	width: 800px;
}

.titre-tmp{
	width: 84vw;
	padding-bottom: 20px;
	height: 30px;
	margin: auto;
	overflow: hidden;
	font-weight: normal;
	font-size: 34px;
	color: #f2f2f2;
}

@media only screen and (max-width:801px)
{
	/*small screen*/
	h1
	{
		font-size: 	30px;
		width: 300px;
	}
}

/******** header *********/
.nav{
	width: 100%;
	position: fixed;
	top: 0px;
	z-index: 2;
}
.nav__bar{
	width: inherit;
	background-color: #fff;
	box-shadow: 0 2px 4px rgba(0,0,0,0.5);
}
#img-logo{
	position: absolute;
	width: auto;
	height: 100%;
	margin-left: 4vw;
	cursor: pointer;
}
.nav__bar > ul{
	height: 100%;
	float: right;
	position: relative;
	margin: 0;
	margin-right: 1vw;
}
.nav__bar > ul > li{
	height: 100%;
	display: inline-block;
	margin-left: -4px;
}
.nav__bar > ul > li:hover{
	background-color: #e5e5e5;
}
.nav__bar__li-active{
	background-color: #e5e5e5;
}
.nav__bar > ul a{
	color: #555;
	padding-left: 3vw;
	padding-right: 3vw;
	font-size: 20px;
	display: inline-block;
	line-height: 90px;
	text-decoration: none;
}
.nav__bar__show-sidenav{
		height: 44px;
		width: 44px;
		margin: 13px 0 0 13px;
		cursor: pointer;
		display: none;
}
.nav__menu-rea{
	position: fixed;
	width: 100%;
	margin-top: 0;
	padding-left: 0;
	background-color: #e6e6e6;
	list-style: none;
	transition: 2s;
	padding-top: 5px;
	padding-bottom: 5px;
	box-shadow: 0 2px 2px rgba(0,0,0,0.4);
	display: none;
	z-index: 3;
	top: 85px;
}
.nav__menu-rea li:hover{
	background-color: rgba(0,0,0,0.1);
}
.nav__menu-rea a{
	width: 100%;
	text-decoration: none;
}
.nav__menu-rea a p{
	color: #555;
	font-size: 19px;
	margin: 0 0 0 5vw;
	padding-bottom: 5px;
	padding-top: 5px;
}

.nav__sidenav__btn-container{
	display: flex;
	justify-content:flex-end;
}
.nav__sidenav__btn-container > img{
	height: 44px;
	padding: 15px;
	cursor: pointer;
}

@media only screen and (max-width:801px)
{
	/*small screen*/
	body{
		padding-top: 70px;
	}
	#img-logo
	{
		right: 50%;
		transform: translateX(50%);
		margin: 0;
	}
	.nav__bar{
		height: 70px;
	}
	.nav__bar ul
	{
		display: none;
	}
	.nav__bar__show-sidenav{
		display: inline;
	}

	.nav__sidenav{
		height: 100%;
		width: 0;
		position: fixed;
		top: 0;
		left: 0;
		background-color: #eee;
		overflow-y: hidden;
		transition: 0.5s;
	}
	.nav__sidenav > a{
	  	padding: 8px 8px 8px 32px;
	  	text-decoration: none;
	  	font-size: 25px;
	  	color: #777;
	  	display: block;
	}
	.nav__sidenav > a:hover{
			background-color: #e5e5e5;
	}

}

@media only screen and (min-width:801px)
{
	/*large screen*/
	body{
		padding-top: 90px;
	}
	.nav__bar{
		height: 90px;
	}
	.nav__sidenav{
		display: none;
	}
}


footer
{
	width: 100%;
	height: 100px;
	border-top-style: solid;
	border-top-width: 2px;
	border-top-color: rgba(255,255,255,0.3);
	margin-top: 200px;
}
