p
{
	color: #fff;
	font-weight: lighter;
	font-size: 25px;
}

#acc
{
	background-color: rgba(0,0,0,0.1);
}

#acc:hover
{
	background-color: rgba(0,0,0,0.2);
}


.title-section{
	padding: 32px 0 32px 3%;
	width: calc(100% - 64px);
	margin: auto;
	font-weight: normal;
	font-size: 34px;
	color: #f2f2f2;
}

/* first part */
#after-bar
{
	width: 	100%;
	height: 92vh;
	display: flex;
}

#first-text
{
	color: #fff;
	overflow: hidden;
}

@media only screen and (max-width: 801px)
{
	/*small screen*/
	#after-bar
	{
		display: block;
		height: auto;
	}

	#workshop-img-container
	{
		background-image: none;
		height: auto;
		width: 100%;
	}

	#workshop-image
	{
		display: block;
		width: 100%;
		height: auto;
	}

	#first-text
	{
		width: 70vw;
		margin-left: 15.4%;
		text-align: center;
		font-size: 2.9vw;
		margin-top: -10px;
	}
	#rge
	{
		position: absolute;
		width: 8vw;
		height: 11vw;
		margin-top: 55vw;
	}
}

@media only screen and (min-width: 801px)
{
	/*large screen*/
	#workshop-img-container
	{
		background-image: url(atelier.jpg);
		background-position: center;
		background-size: cover;
		height: 100%;
		width: 80%;
	}

	#workshop-image
	{
		display: none;
	}

	#first-text
	{
		text-align: justify;
		max-height: 80vh;
		width: 22vw;
		margin-left: 2vw;
		margin-right: 2vw;
		font-size: 22px;
	}
	#rge
	{
		position: absolute;
		width: 8vw;
		height: 11vw;
		left: 0;
		top: 100%;
		transform: 	translateY(-81%);
	}
}
@media only screen and (max-width: 1200px) and (min-width: 801px)
{
	#first-text
	{
		font-size: 19px;
	}
	#flex-container p
	{
		font-size: 21px;
	}
}
@media only screen and (max-height: 550px) and (min-height: 451px)
{
	#first-text
	{
		font-size: 17px;
	}
	#flex-container p
	{
		font-size: 17px;
	}
}
@media only screen and (max-height: 450px)
{
	#first-text
	{
		font-size: 14px;
	}

	#flex-container p
	{
		font-size: 15px;
	}
}

/* second part */

@media only screen and (min-width: 801px)
{
	/*large screen*/
	#inter-parallax
	{
		height: 95vh;
		min-height: 700px;
		margin-left: auto;
		margin-right: auto;
		background-color: #fff;
	}

	.parallax
	{
		width: 100%;
		height: 30vh;
		max-height: 20vw;
		overflow: hidden;

	}

	.parallax img
	{
		display: block;
		width: 100%;
		margin-top: -60%;
	}

		#parallax-img-1
	{
		margin-top: 0;
	}

	#flex-container
	{
		display: flex;
	}

	#flex-container p
	{
		color: #969C90;
		max-width: 25%;
		max-height: 25%;
		padding-left: 3%;
		overflow: hidden;
	}

}

@media only screen and (max-width: 801px)
{
	/* small screen */
	#inter-parallax
	{
		margin-left: auto;
		margin-right: auto;
		background-color: #fff;
		padding-bottom: 50px;
	}

	.parallax
	{
		width: 100%;
		height: 18vw;
		overflow: hidden;
	}

	.parallax img
	{
		width: 100%;
		margin-top: -40vw;
	}


	#flex-container
	{
		display: block;
	}

	#flex-container p
	{
		color: #969C90;
		width: 80%;
		margin-right: auto;
		margin-left: auto;
		overflow: hidden;
		font-size: 20px;
		margin-top: -10px;
	}

}

/* carousel */

#inter-parallax > h2
{
	color: #969C90;
	margin: 0;
	padding: 32px 0 32px 64px;
}

/* Slideshow container */
.slideshow-container {
  max-width: 70%;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: rgba(0,0,0,0.5);
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.9);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* second part */
.mrow
{
	margin-right: auto;
	margin-left: auto;
	width: auto;
	display: flex;
	justify-content: center;
}

.carte
{
	margin:20px;
}

.div-effect
{
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
	border-color: #fff;
	border-style: solid;
}

.waves-effect {
  position: relative;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-tap-highlight-color: transparent;
  vertical-align: middle;
  z-index: 1;
  -webkit-transition: .3s ease-out;
  transition: .3s ease-out;
}

.title
{
	font-weight: 400;
 	color: rgba(255,255,255,0.9);
  	position: absolute;
  	bottom: 0;
  	left: 0;
  	max-width: 100%;
  	padding-left: 4%;
  	cursor:pointer;
  	display: block;
  	line-height: 32px;
  	font-size: 2.5vw;
	margin-bottom: 3vw;
	margin-left: 2vw;
}

.waves-effect .waves-ripple {
  position: absolute;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  opacity: 0;
  background: rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.7s ease-out;
  transition: all 0.7s ease-out;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  -webkit-transform: scale(0);
          transform: scale(0);
  pointer-events: none;
}

.waves-effect.waves-light .waves-ripple {
  background-color: rgba(255, 255, 255, 0.45);
}

.waves-effect img {
  position: relative;
  z-index: -1;
}

/* Firefox Bug: link not triggered */
.waves-effect .waves-ripple {
  z-index: -1;
}

.div-effect
{
	border-radius: 2.5vw;
	border-width: 0.5vw;
}
.carte img
{
	margin-bottom: -4%;
}

/*première ligne*/
#door-card
{
	width: 25vw;
	height: 30vw;
}

#window-card
{
	width: 52vw;
	height: 31.2vw;
}

/*deuxième ligne*/
#garage-door-card
{
	width: 33vw;
	height: 29.5vw;
}

#shutters-card
{
	width: 45vw;
	height: 30vw;
}

/*troisième ligne*/
#gate-card
{
	width: 51vw;
	height: 31vw;
}

#inside-door-card
{
	width: 26vw;
	height: 30vw;
}

#last-carte-container
{
	margin: 0;
	position: relative;
	width: 100%;
	height: 40vw;
	overflow: hidden;
}
#last-carte
{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	margin-top: 0;
}

#last-carte img
{
	width: auto !important;
	height: 36vw !important;
}


@media only screen and (max-width: 801px)
{
	/* small screen */
	.mrow
	{
		display: inline;
	}
	.carte-container
	{
		margin: 0;
		position: relative;
		width: 100%;
		height: 40vw;
		overflow: hidden;
	}
	.carte
	{
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		margin-top: 0;
	}

	.carte img
	{
		width: auto !important;
		height: 36vw !important;
	}
}


footer
{
	height: 100px;
	width: 100%;
	margin-top: 40px;
	padding-top: 50px;
	border-top: 2px solid #b6bCb0;

}
