body
{
	background-color: #969C90; /*869C90CC*/
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

h1
{
	position: relative;
	left: 6%;
	font-weight: lighter;
	font-size: 45px;
	width: 100px;
}

a,p,h1
{
	color: #fff;
}

p
{
	font-weight: lighter;
	font-size: 25px;
}

#coord-container div a, #coord-container div p
{
	position: relative;
	font-size: 26px;
	width: 100%;
	left: 16%;
}

#coord p:nth-child(1)
{
	padding-top: 5%;
}
#coord a:nth-child(3)
{
	padding-bottom: 5%;
}

iframe, #coord-container
{
	position: relative;
	margin-left: auto;
	margin-right: auto;
	height: 570px;
}

#body-container
{
	position: relative;
	width: 100%;
}

#coord
{
	padding-bottom: 5%;
}

#coord, #recrutement
{
	border-style: solid;
	border-width: 7px;
	border-color: rgba(255,255,255,0.3);
	border-radius: 15px;
}

iframe
{
	border-style: none;
	border-radius: 15px;
}

@media only screen and (min-width:801px)
{
	/*large screen*/
	#body-container
	{
		display: flex;
	}

	#recrutement
	{
		display: flex;
		margin-top: 20px;
	}

	iframe, #coord-container
	{
		width: 40%;
	}
}

@media only screen and (max-width: 1201px) and (min-width: 801px)
{
	#coord-container div a, #coord-container div p
	{
		font-size: 20px;
	}

	iframe
	{
		height: 440px;
	}

	footer
	{
		margin-top: 0;
	}
}

@media only screen and (max-width:801px) and (min-width: 400px)
{
	/*small screen*/
	iframe, #coord-container
	{
		width: 60%;
	}
		#recrutement
	{
		display: flex;
		margin-top: 20px;
	}

	iframe
	{
		transform: translateX(-50%);
		left: 50%;
		margin-top: -180px;
		height: 300px;
	}

	#coord-container div a, #coord-container div p
	{
		font-size: 15px;
	}

	footer
	{
		margin-top: 100px;
	}
}

@media only screen and (max-width: 399px)
{
/*very small screen*/
	iframe, #coord-container
	{
		width: 60%;
	}
		#recrutement
	{
		display: flex;
		margin-top: 20px;
	}

	iframe
	{
		transform: translateX(-50%);
		left: 50%;
		margin-top: -250px;
		height: 300px;
	}

	#coord-container div a, #coord-container div p
	{
		font-size: 11px;
	}

	footer
	{
		margin-top: 100px;
	}
}
