.carousel .carousel-item
{
	width: 380px !important;
}
.carousel
{
	height: 700px !important;
}
#liste-desc li
{
  	color: #f2f2f2;
  	font-weight: lighter;
  	font-size: 24px;
}

#liste-desc
{
	position: relative;
 	width: 60vw;
  	margin: 0 auto 0 auto;
}

#text1
{
  text-align: left !important;
}

@media screen and (max-width: 500px)
{

  #liste-desc li
  {
    font-size: 19px !important;
  }
}

@media screen and (max-width: 890px)
{
  #liste-desc
  {
  	width: 50vw;
  	margin-left: 20vw;
  }
}

@media only screen and (min-width: 802px)
{
	#text1
	{
		margin-top: -150px !important;
	}
}
/*slide*/
.slide img
{
	width: 80vw;
};