body
{
	background-color: #969C90; /*869C90CC*/
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

h1
{	
	position: relative;
	left: 6%;
	font-weight: lighter;
	font-size: 45px;
	width: 100px;
}

a,p,h1
{
	color: #fff;
}

p
{
	font-weight: lighter;
	font-size: 25px;
}

#coord-container div a, #coord-container div p
{
	position: relative;
	font-size: 26px;
	width: 100%;
	left: 16%;
}

#coord p:nth-child(1)
{
	padding-top: 5%;
}
#coord a:nth-child(3)
{
	padding-bottom: 5%;
}

iframe, #coord-container
{	
	position: relative;
	margin-left: auto;
	margin-right: auto;
	height: 570px;
}

#body-container
{
	position: relative;
	width: 100%;
}

#coord
{
	padding-bottom: 5%;
}

#coord, #recrutement
{
	border-style: solid;
	border-width: 7px;
	border-color: rgba(255,255,255,0.3);
	border-radius: 15px;
}

iframe
{
	border-style: none;
	border-radius: 15px;
}

@media only screen and (min-width:801px)
{
	/*large screen*/
	#body-container
	{
		display: flex;
	}

	#recrutement
	{
		display: flex;
		margin-top: 20px;
	}

	iframe, #coord-container
	{
		width: 40%;
	}
}

@media only screen and (max-width: 1201px) and (min-width: 801px)
{
	#coord-container div a, #coord-container div p
	{
		font-size: 20px;
	}

	iframe
	{
		height: 440px;
	}

	footer
	{
		margin-top: 0;
	}
}

@media only screen and (max-width:801px) and (min-width: 400px)
{
	/*small screen*/
	iframe, #coord-container
	{
		width: 60%;
	}
		#recrutement
	{
		display: flex;
		margin-top: 20px;
	}

	iframe
	{
		transform: translateX(-50%);
		left: 50%;
		margin-top: -180px;
		height: 300px;
	}

	#coord-container div a, #coord-container div p
	{
		font-size: 15px;
	}

	footer
	{
		margin-top: 100px;
	}
}

@media only screen and (max-width: 399px)
{
/*very small screen*/
	iframe, #coord-container
	{
		width: 60%;
	}
		#recrutement
	{
		display: flex;
		margin-top: 20px;
	}

	iframe
	{
		transform: translateX(-50%);
		left: 50%;
		margin-top: -250px;
		height: 300px;
	}

	#coord-container div a, #coord-container div p
	{
		font-size: 11px;
	}

	footer
	{
		margin-top: 100px;
	}
}

/* header */

header
{
	width: 100%;
	position: fixed;
	top: 0px;
	z-index: 2;
}

nav ul
{
	height: 100%;
	float: right;
	position: relative;
	margin: 0;
}

nav ul li
{
	height: 100%;
	display: inline-block;
	margin-left: -4px;
}

nav
{	
	background-color: #fff;
	box-shadow: 0 2px 4px rgba(0,0,0,0.5); 
}

#img-logo
{
	position: absolute;
	width: auto;
	height: 100%;
	margin-left: 4vw;
}

.mactive
{
	background-color: rgba(0,0,0,0.1);	
}

.margin-right
{
	margin-right: 1vw;
}

.textbar
{
	color: #555;
	padding-left: 3vw;
	padding-right: 3vw;
	font-size: 20px;
	height: 100%;
	line-height: 90px;
	text-decoration: none;
}
#nav-rea
{
	position: fixed;
	width: 100%;
	margin-top: 0;
	padding-left: 0;
	background-color: #e6e6e6;	
	list-style: none;
	transition: 2s;
	padding-top: 5px;
	padding-bottom: 5px;
	box-shadow: 0 2px 2px rgba(0,0,0,0.4);
	display: none;
	z-index: 3;
	top: 85px;
}
#nav-rea a
{
	width: 100%;
	text-decoration: none;
}

#nav-rea a p
{
	color: #555;
	font-size: 19px;
	margin: 0 0 0 5vw;
	padding-bottom: 5px;
	padding-top: 5px;
}

@media only screen and (max-width:801px)
{
	/*small screen*/
	nav
	{
		height: 70px;
	}

	body
	{
		padding-top: 70px;
	}

	#img-logo
	{
	 	right: 50%;
	 	transform: translateX(50%);
	}

	#menu-button
	{
		margin-left: 25px;
		margin-top: 20px;
		height: 30px;
		width: 30px;
	}

	#sidenav 
	{
  		height: 100%;
  		width: 0;
		position: fixed;
  		z-index: 3;
  		top: 0;
  		left: 0;
  		background-color: #eee;
  		overflow-x: hidden;
  		transition: 0.5s;
  		padding-top: 60px;
	}

	#sidenav a 
	{
	  	padding: 8px 8px 8px 32px;
	  	text-decoration: none;
	  	font-size: 25px;
	  	color: #777;
	  	display: block;
	  	transition: 0.3s;
	}

	#sidenav a:nth-child(2):hover,#sidenav a:nth-child(3):hover,#sidenav a:nth-child(4):hover 
	{
  		color: #444;
  		background-color: #ddd;
	}

	#sidenav a:nth-child(2)
	{
		margin-top: 30px;
	}

	#sidenav #closebtn 
	{
  		position: absolute;
  		top: 40px;
  		right: 25px;
  		font-size: 36px;
  		margin-left: 50px;
  		margin-bottom: 30px;
  		width: 40px;
  		height: 40px;
	}

	nav ul
	{
		display: none;
	}
}

@media only screen and (min-width:801px)
{
	/*large screen*/
	nav
	{
		height: 90px;
	}

	body
	{
		padding-top: 90px;
	}

	#menu-button
	{
		display: none;
	}

	#sidenav
	{
		display: none;
	}
}